<!-- webapp/WEB-INF/web.xml -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <display-name>Fly Away</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
    	<description>
    	</description>
    	<display-name>CheckIfUserIsLoggedInFilter</display-name>
    	<filter-name>CheckIfUserIsLoggedInFilter</filter-name>
    	<filter-class>com.henz.joel.filter.CheckIfUserIsLoggedInFilter</filter-class>
    </filter>
    <filter>
    	<description>
    	</description>
    	<display-name>CheckIfUserIsLoggedOutFilter</display-name>
    	<filter-name>CheckIfUserIsLoggedOutFilter</filter-name>
    	<filter-class>com.henz.joel.filter.CheckIfUserIsLoggedOutFilter</filter-class>
    </filter>
    <filter>
    	<description>
    	</description>
    	<display-name>AdminRedirectionFilter</display-name>
    	<filter-name>AdminRedirectionFilter</filter-name>
    	<filter-class>com.henz.joel.filter.AdminRedirectionFilter</filter-class>
    </filter>
    <filter>
    	<description>
    	</description>
    	<display-name>AuthFilterUser</display-name>
    	<filter-name>AuthFilterUser</filter-name>
    	<filter-class>com.henz.joel.filter.AuthFilterUser</filter-class>
    </filter>
    <filter>
    	<description>
    	</description>
    	<display-name>AuthFilterAdmin</display-name>
    	<filter-name>AuthFilterAdmin</filter-name>
    	<filter-class>com.henz.joel.filter.AuthFilterAdmin</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>CheckIfUserIsLoggedInFilter</filter-name>
    	<url-pattern>/start/login</url-pattern>
    	<url-pattern>/start/registration</url-pattern>
    	<url-pattern>/start/registrationValidation</url-pattern>
    </filter-mapping>
    <filter-mapping>
    	<filter-name>CheckIfUserIsLoggedOutFilter</filter-name>
    	<url-pattern>/start/logout</url-pattern>
    </filter-mapping>
    <filter-mapping>
    	<filter-name>AdminRedirectionFilter</filter-name>
    	<url-pattern>/start/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
    	<filter-name>AuthFilterUser</filter-name>
    	<url-pattern>/start/searchFlightResults/*</url-pattern>
    	<url-pattern>/start/showBookings/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
    	<filter-name>AuthFilterAdmin</filter-name>
    	<url-pattern>/start/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
    	<description>
    	</description>
    	<display-name>StartServlet</display-name>
    	<servlet-name>StartServlet</servlet-name>
    	<servlet-class>com.henz.joel.servlets.StartServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>SearchFlightsServlet</display-name>
    	<servlet-name>SearchFlightsServlet</servlet-name>
    	<servlet-class>com.henz.joel.servlets.SearchFlightsServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>RegistrationServlet</display-name>
    	<servlet-name>RegistrationServlet</servlet-name>
    	<servlet-class>com.henz.joel.servlets.login_and_registration.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>RegistrationValidationServlet</display-name>
    	<servlet-name>RegistrationValidationServlet</servlet-name>
    	<servlet-class>com.henz.joel.servlets.login_and_registration.RegistrationValidationServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>LoginServlet</display-name>
    	<servlet-name>LoginServlet</servlet-name>
    	<servlet-class>com.henz.joel.servlets.login_and_registration.LoginServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>LoginValidationServlet</display-name>
    	<servlet-name>LoginValidationServlet</servlet-name>
    	<servlet-class>com.henz.joel.servlets.login_and_registration.LoginValidationServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AdminServlet</display-name>
    	<servlet-name>AdminServlet</servlet-name>
    	<servlet-class>com.henz.joel.servlets.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>LogoutServlet</display-name>
    	<servlet-name>LogoutServlet</servlet-name>
    	<servlet-class>com.henz.joel.servlets.login_and_registration.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>BookingServlet</display-name>
    	<servlet-name>BookingServlet</servlet-name>
    	<servlet-class>com.henz.joel.servlets.BookingServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>BookingConfirmationServlet</display-name>
    	<servlet-name>BookingConfirmationServlet</servlet-name>
    	<servlet-class>com.henz.joel.servlets.BookingConfirmationServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ShowBookingsServlet</display-name>
    	<servlet-name>ShowBookingsServlet</servlet-name>
    	<servlet-class>com.henz.joel.servlets.ShowBookingsServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AdminRouteDomain</display-name>
    	<servlet-name>AdminRouteDomain</servlet-name>
    	<servlet-class>com.henz.joel.servlets.admin.AdminRouteDomain</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AdminFlightDomain</display-name>
    	<servlet-name>AdminFlightDomain</servlet-name>
    	<servlet-class>com.henz.joel.servlets.admin.AdminFlightDomain</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AdminBookingDomain</display-name>
    	<servlet-name>AdminBookingDomain</servlet-name>
    	<servlet-class>com.henz.joel.servlets.admin.AdminBookingDomain</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AdminAddRoute</display-name>
    	<servlet-name>AdminAddRoute</servlet-name>
    	<servlet-class>com.henz.joel.servlets.admin.AdminAddRoute</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AdminDeleteRoute</display-name>
    	<servlet-name>AdminDeleteRoute</servlet-name>
    	<servlet-class>com.henz.joel.servlets.admin.AdminDeleteRoute</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AdminAddFlight</display-name>
    	<servlet-name>AdminAddFlight</servlet-name>
    	<servlet-class>com.henz.joel.servlets.admin.AdminAddFlight</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AdminDeleteFlight</display-name>
    	<servlet-name>AdminDeleteFlight</servlet-name>
    	<servlet-class>com.henz.joel.servlets.admin.AdminDeleteFlight</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AdminDeleteBooking</display-name>
    	<servlet-name>AdminDeleteBooking</servlet-name>
    	<servlet-class>com.henz.joel.servlets.admin.AdminDeleteBooking</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AdminChangePassword</display-name>
    	<servlet-name>AdminChangePassword</servlet-name>
    	<servlet-class>com.henz.joel.servlets.admin.AdminChangePassword</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AdminCheckPassword</display-name>
    	<servlet-name>AdminCheckPassword</servlet-name>
    	<servlet-class>com.henz.joel.servlets.admin.AdminCheckPassword</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>StartServlet</servlet-name>
    	<url-pattern>/start/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SearchFlightsServlet</servlet-name>
    	<url-pattern>/start/searchFlightResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RegistrationServlet</servlet-name>
    	<url-pattern>/start/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RegistrationValidationServlet</servlet-name>
    	<url-pattern>/start/registrationValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LoginServlet</servlet-name>
    	<url-pattern>/start/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LoginValidationServlet</servlet-name>
    	<url-pattern>/start/loginValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminServlet</servlet-name>
    	<url-pattern>/start/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LogoutServlet</servlet-name>
    	<url-pattern>/start/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>BookingServlet</servlet-name>
    	<url-pattern>/start/searchFlightResults/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>BookingConfirmationServlet</servlet-name>
    	<url-pattern>/start/searchFlightResults/book/bookingConfirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ShowBookingsServlet</servlet-name>
    	<url-pattern>/start/showBookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminRouteDomain</servlet-name>
    	<url-pattern>/start/admin/routes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminFlightDomain</servlet-name>
    	<url-pattern>/start/admin/flights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminBookingDomain</servlet-name>
    	<url-pattern>/start/admin/bookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminAddRoute</servlet-name>
    	<url-pattern>/start/admin/routes/addRoute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminDeleteRoute</servlet-name>
    	<url-pattern>/start/admin/routes/deleteRoute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminAddFlight</servlet-name>
    	<url-pattern>/start/admin/flights/addFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminDeleteFlight</servlet-name>
    	<url-pattern>/start/admin/flights/deleteFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminDeleteBooking</servlet-name>
    	<url-pattern>/start/admin/bookings/deleteBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminChangePassword</servlet-name>
    	<url-pattern>/start/admin/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminCheckPassword</servlet-name>
    	<url-pattern>/start/admin/changePassword/checkCurrentPassword</url-pattern>
    </servlet-mapping>
	    
</web-app>
